@model IsaacLewisTermProject.Models.Adventure

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Adventure</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdventureName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdventureName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdventureDifficulty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdventureDifficulty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecommendedLevels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecommendedLevels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdventureDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdventureDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AdventureId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
