@model List<Adventure>
@{
    ViewData["Title"] = "Homebrew Adventures";
}

<h1 class="display-4">Filter Adventures</h1>
    Enter a adventures name:
<form method="post" class="container">
    <div class="p-2 col-2">
        <label for="AdventureName" class="control-label">Adventure Name</label>
        <input name="AdventureName" class="form-control" />
    </div>
    <div class="p-2 col-2 d-grid gap-1 d-md-block">
        <button type="submit" class="form-control btn btn-success">Submit</button>
        <a asp-action="Adventure" class="btn btn-secondary">Reset</a>
    </div>
</form>

<form method="post" class="container">
    <div class="p-2 col-2">
        <label for="UserName" class="control-label">User Name</label>
        <input name="UserName" class="form-control" />
    </div>
    <div class="p-2 col-2">
        <button type="submit" class="form-control btn btn-success">Submit</button>
    </div>
</form>
<a href="AdventureAdd" class="btn btn-primary">Add an Adventure</a>
<h1 class="display-4">Homebrew Adventures</h1>

@foreach (Adventure adventure in Model)
{
    <p>
        <strong class="m-3">Adventure Name:</strong>
        @adventure.AdventureName<br />
        <strong class="m-3">Adventure Difficulty:</strong>
        @adventure.AdventureDifficulty<br />
        <strong class="m-3">Recommended Levels:</strong>
        @adventure.RecommendedLevels<br />
        <strong class="m-3">Adventure Description:</strong>
        @adventure.AdventureDifficulty<br />
        <strong class="m-3">User Name:</strong>
        @adventure.User.UserName<br />
        <strong class="m-3">Date Added:</strong>
        @Html.DisplayFor(noParam => adventure.DateAdded)
        <br />
    </p>
    <a asp-action="AdventureComment" asp-route-adventureId="@adventure.AdventureId" class="btn-sm btn-secondary col-3 m-3">Add Comment</a>

    if (adventure.Comments.Count != 0)
    {
                <h5 class="m-3">Comments</h5>

        foreach (var comment in adventure.Comments)
        {
                        <p>
                            <p class="m-3">@comment.CommentText</p>
                            <strong class="m-3">By:</strong>
                @comment.Commenter.Name
                            <br />
                            <strong class="m-3">Date:</strong>
                @Html.DisplayFor(noParam => comment.CommentDate)
                            <br />
                        </p>
        }
    }
        <br />
        <hr />
}