@model List<Feat>
@{
    ViewData["Title"] = "Homebrew Feats";
}

<h1 class="display-4">Filter Feats</h1>
    Enter a Feat name:
<form method="post" class="container">
    <div class="p-2 col-2">
        <label for="FeatName" class="control-label">Feat Name</label>
        <input name="FeatName" class="form-control" />
    </div>
    <div class="p-2 col-2 d-grid gap-1 d-md-block">
        <button type="submit" class="form-control btn btn-success">Submit</button>
        <a asp-action="Feat" class="btn btn-secondary">Reset</a>
    </div>
</form>

<form method="post" class="container">
    <div class="p-2 col-2">
        <label for="UserName" class="control-label">User Name</label>
        <input name="UserName" class="form-control" />
    </div>
    <div class="p-2 col-2">
        <button type="submit" class="form-control btn btn-success">Submit</button>
    </div>
</form>
<a href="FeatAdd" class="btn btn-primary">Add a Feat</a>
<h1 class="display-4">Homebrew Feats</h1>

@foreach (Feat feat in Model)
{
    <p>
        <strong class="m-3">Feat Name:</strong>
        @feat.FeatName<br />
        <strong class="m-3">Feat Effect:</strong>
        @feat.FeatEffect<br />
        <strong class="m-3">User Name:</strong>
        @feat.User.UserName<br />
        <strong class="m-3">Date Added:</strong>
        @Html.DisplayFor(noParam => feat.DateAdded)
        <br />
    </p>
    <a asp-action="FeatComment" asp-route-featId="@feat.FeatId" class="btn-sm btn-secondary col-3 m-3">Add Comment</a>

    if (feat.Comments.Count != 0)
    {
                <h5 class="m-3">Comments</h5>

        foreach (var comment in feat.Comments)
        {
                        <p>
                            <p class="m-3">@comment.CommentText</p>
                            <strong class="m-3">By:</strong>
                @comment.Commenter.Name
                            <br />
                            <strong class="m-3">Date:</strong>
                @Html.DisplayFor(noParam => comment.CommentDate)
                            <br />
                        </p>
        }
    }
        <br />
        <hr />
}